<h1 class= "heading">Welcome to my Awesome Web App by Mike Lu</h1>
<h2>Quiz 1</h2>

<h2>Requirements</h2>
<ul>
	<li>This should be a rails application, not a plain HTML page.</li>
	<li>The web application has a page with static content on it.</li>
	<li>The web application is hosted on Heroku- <a href="https://quiz-mike.herokuapp.com/#">https://quiz-mike.herokuapp.com/</a></li>
	<li>The code for the application is hosted on GitHub- <a href="https://github.com/michaellu716/quiz1">https://github.com/michaellu716/quiz1</a></li>
	<li class="orange">There is a headline on the page of the application that is a non-black color.</li>
</ul>